body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    align-items: center;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 163px;
    padding: 18px;
}

/* Navigation Bar Left Column */
.left-column {
    display: grid;
    width: 471px;
}

.left-column a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.left-column >.explore {
    height: 19px;
    margin-left: 23px;
}

.explore a {
    font-size: 15px;
    color: yellow;
    font-weight: lighter;
}

.left-column > .links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  Down Chevron Spark */
.nav-link-spark {
    margin-left: 30px;
}

.nav-link-spark a {
    color: rgba(189, 183, 183, 0.646);
    font-weight: lighter;
    text-decoration: none;
}

.nav-link-spark i {
    color: rgba(189, 183, 183, 0.646);
}

/* Spacer Between Left Column & Right Column */
.spacer {
    flex-grow: 3;
}

/* Navigation Bar Right Column */
.right-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 283px;
}

.right-column a {
    font-size: small;
    text-align: center;
    text-decoration: none;
    color: white;
}

.right-column > .nav-link-create {
    background-color: rgba(129, 129, 129, 0.646);
    padding: 8px 10px 10px 10px;
    border-radius: 2px;
}

.nav-link-create i {
    color: #47CF73;
}

.right-column > .nav-link-search {
    font-size: 1.5em;
    color: rgba(189, 183, 183, 0.646);
}

.right-column > .nav-link-login {
    background-color: rgba(129, 129, 129, 0.646);
    padding: 8px 10px 10px 10px;
    border-radius: 2px;
}

.right-column > .nav-link-signup {
    background-color: rgba(129, 129, 129, 0.646);
    padding: 8px 10px 10px 10px;
    border-radius: 2px;
}

/* Front Section */
.front-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(30deg, rgba(9, 9, 10, 0.755) 1%, rgba(61, 64, 84, 0.981) 60%);
    padding-top: 40px;
}

.left-section {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
    
}
 .left-section-text > .text1 p {
    font-size: 3em;
    color: white;
 }

 .left-section-text > .text2 p {
    font-size: 2.5em;
    color: rgb(200, 200, 200);
 }

 /* Sign Up for Free & Learn More Buttons */
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 519px;
    font-size: xx-large;
    font-weight: bold;
    height: 151px;
}

.signup-btn {
    background-color: #47CF73;
    padding: 20px 30px;
    border-radius: 3px;
}

.signup-btn a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.learn-more-btn {
    background-color: black;
    padding: 20px 30px;
    border-radius: 3px;
}

.learn-more-btn a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    text-align: center;
}

/* Right Section */
.right-section {
    padding-left: 287px;
}
.right-section-image img {
    border-radius: 6px;
    float: right;
    height: 549px;
    object-fit: cover;
    padding: 0px 0px;
}


/* Image Title */
.right-section-title h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2em;
}

/* Codepen Projects Blue Text */
.blue {
    color: rgb(15, 218, 245);
}

/* Footer */
.footer {
    display: flex;
    height: 49px;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #3e3e3e;
    font-size: larger;
}

.codepen {
    width: 40%;
    border: 1px solid #5a5a5a;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft {
    height: 92px;
    background: rgb(38, 38, 41);
}
